apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      containers:
      - name: todo-app
        image: yourdockerhubusername/todo-app:latest
        ports:
        - containerPort: 5000
        env:
        - name: APP_ENV
          value: production
